# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Evil tokens
gradle.properties

# This is used for resetting bot data, no need to push any data at all
src/main/resources/serverData.txt

# Weeve
/libs

# Generated on test runs
/botData

.DS_Store
/target
/bin
.classpath
.settings
.project