# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Evil tokens
gradle.properties

# Weeve
/libs

# Generated on test runs
/botData

.DS_Store
/target
/bin
.classpath
.settings
.project