<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="logPath" value="./botData" />
	<property name="printFormat" value="%p %d{MM/dd HH:mm:ss.SSS} [%c] --- %m%n" />
	<property name="fileFormat" value="%d{MM-dd-yyyy}.%i" />
	
	<property name="maxFileSize" value="5MB" />
	<property name="maxHistory" value="3" />
	<property name="totalSizeCap" value="25MB" />

	<!-- Console -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${printFormat}</pattern>
		</encoder>
	</appender>
	
	<!-- CustomLogger that forwards errors to the owner -->
	<appender name="errorAppender" class="io.github.freshsupasulley.dbot.utils.ErrorAppender" />
	
	<!-- DemocracyBot -->
	<appender name="democracy"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logPath}/db.log</file>
		<encoder>
			<pattern>${printFormat}</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${logPath}/archived/db_${fileFormat}.log</fileNamePattern>
			<maxFileSize>${maxFileSize}</maxFileSize>
			<maxHistory>${maxHistory}</maxHistory>
			<totalSizeCap>${totalSizeCap}</totalSizeCap>
		</rollingPolicy>
	</appender>

	<!-- weeve -->
	<appender name="weeve"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- Log file destination -->
		<file>${logPath}/weeve.log</file>
		<encoder>
			<pattern>${printFormat}</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- File name pattern with date -->
			<fileNamePattern>${logPath}/archived/weeve_${fileFormat}.log</fileNamePattern>
			<maxFileSize>${maxFileSize}</maxFileSize>
			<maxHistory>${maxHistory}</maxHistory>
			<totalSizeCap>${totalSizeCap}</totalSizeCap>
		</rollingPolicy>
	</appender>
	
	<!-- TRACE, DEBUG, INFO, WARN, ERROR -->
	<root level="all">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="errorAppender" />
	</root>
	
	<!-- DemocracyBot -->
	<!-- Additivity is enabled by default. This will be sent through the root and thus STDOUT and errorAppender -->
	<logger name="io.github.freshsupasulley.dbot.Main" level="all">
		<appender-ref ref="democracy" />
	</logger>
	
	<!-- JDA logger. Only send JDA info to dbot -->
	<logger name="net.dv8tion" level="info">
		<appender-ref ref="democracy" />
	</logger>

	<!-- weeve -->
	<logger name="io.github.freshsupasulley.weeve.Main" level="all">
		<appender-ref ref="weeve" />
	</logger>
</configuration>